<app-key-up></app-key-up>

<p *appUnless="estado">
    (A) This paragraph is displayed because the condition is false.
</p>

<p *appUnless="cb.checked">
    (A) This paragraph is displayed because the condition is false.
</p>

{{cb.checked}}

<input #cb type="checkbox" (change)="estado = !estado" />

<div *ngFor="let hero of heroes; let i=index; let impar=odd; trackBy: trackById" [class.impar]="impar">
    {{impar}} {{i}} = {{hero.name}}
</div>

<p *ngIf="false; else sino">
    Expression is true and ngIf is true.
    This paragraph is in the DOM.
</p>
<ng-template #sino>
    Expression is false and ngIf is false.
    This paragraph is not in the DOM.
</ng-template>

<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="setColor('yellow')">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>

<p [appHighlight]="color">Color</p>
<p appHighlight>Color por defecto</p>
<p appHighlight defaultColor="lightgreen">Color por defecto verde</p>